@font-face {
  font-family: "Manrope, sans-serif";
  src: url("../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope, sans-serif";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope, sans-serif";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope, sans-serif";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope, sans-serif";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  --column-size: 95px;

  overflow: hidden;
}

body {
  position: relative;
}

section,
div {
  box-sizing: border-box;
}

#main,
#mobile,
#video-main,
#video-mobile{
  position: fixed;
  inset: 0;
  background-color: var(--color-bg-block-primary-default);
  font-family: Manrope, sans-serif;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 120px;
  background-color: var(--color-bg-control-accent-disabled);
  border-radius: 80px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-control-accent-hover);
  cursor: pointer;
}

